.drawer {
  padding: 0px !important;
}

.drawer .ant-drawer-wrapper-body .ant-drawer-body {
  padding: 0px !important;
}

.tmbill-input {
  height: 32px;
  background-color: #ffffff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  border: 1px solid #d9d9d9;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
